* {
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
    color: white;
}
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}


body {
    background-image: url("weatherbg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin: 0;
    width: 100%;
}



.citysearch {
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
}

input {
  width: 100%;
  max-width: 600px;
  border: 1px solid gray;
  background: none;
  padding: 0.5rem 1rem;
  border-radius: 30px;
  color: white;
}



/* .citysearch{
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: purple;
    padding: 0 1rem;
}
input {
    margin: 2% 0 0 25%;
    width: 70%;
    max-width: 100%;
    outline: none;
    border: 1px solid gray;
    background: none;
    padding: 1%;
    border-radius: 30px;
} */

#loc {
    font-size: 1.7rem;
    font-weight: bold;
    font-family: system-ui;
    margin-left: 5%;
    margin-top: 7%;
}


#descrip,
#box p,
#humidity,
#pressure {
    margin-left: 5.3%;
    margin-top: 0.3%;
    font-size: small;
    color: lightsteelblue;
    font-family: system-ui;
}

h1 {
    margin-left: 6%;
    margin-top: 3%;
    font-size: 3rem;
    font-family: system-ui;
}

.weekly {
    height: 29.85rem;
    width: 33%;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: opacity(50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5%;
    position: absolute;
    right: 2%;
    top: 18%;
    z-index: 100;
}

.weekly .weeklyForecast {
    height: 25rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2rem;
}

.weekly .weeklyForecast .weeklydata p,
.condition {
    font-family: system-ui;
}

.weekly .weeklyForecast .weeklydata {
    width: 90%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}
.weekly .weeklyForecast .weeklydata .hourly{
    width: 30%;
}

#weeklyTitle,
#hourlyTitle {
    font-family: system-ui;
    margin-top: 5%;
}

.weekly .weeklyForecast .weeklydata .date{
    font-weight: 500;
}


#weather {
    height: 12rem;
    width: 60%;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: opacity(50%);
    gap: 7%;
    margin: 3% 0 0 3%;
    padding: 0 1rem;
}

#weather .hourlyforecast {
    height: 8rem;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 7%;
    /* background-color: aqua; */
    margin-left: 10%;
    margin-top: 2%;
}

#hourlyTitle {
    padding: 3% 0 0 3%;
}

.htemp {
    margin-top: 15%;
}






/* responsive code */
@media only screen and (max-width:1154px) {
    body {
        background-size: auto;
    }
}


@media only screen and (max-width:846px) {
    body {
        background-size: cover;
    }

    .weekly {
        position: static;
        width: 90%;
        height: 27rem;
        margin-top: 5%;
        margin-left: 5%;
        margin-bottom: 5%;
        padding: 0 1rem;
    }

    .weekly .weeklyForecast {
        flex-direction: row;
    }

    .weekly .weeklyForecast .weeklydata {
        flex-direction: column;
        gap: 0.5rem;
        width: 25%;
    }

    .weekly .weeklyForecast .data1 {
        margin-left: 4%;
    }

    #weather {
        width: 90%;
        margin-left: 5%;
    }

    #weeklyTitle {
        align-self: flex-start;
        margin-left: 3%;
    }
}





